@charset "utf-8";
/* CSS Document */
.info_app {
	color: white;
	text-size: 1.3em;
	padding: 8px 8px 8px 55px;
	margin: 5px;
	background: url("../img/info.png") no-repeat 2% center #0061AD;	
	border-radius: 15px;
	display:block;
	font-weight:bold;
}

.info_app a{
	float: right;
	color: white;
	margin-right: 15px;
	padding-bottom: 5px;
}

.error_app {
	color: white;
	text-size: 1.3em;
	padding: 8px 8px 8px 55px;
	margin: 5px;
	background: url("../img/alert.png") no-repeat 2% center #F00000;	
	border-radius: 15px;
	display:block;
	font-weight:bold;
}

#titulo_calendario {
	float: left;
	width: 50%;
	padding: 5px;
}

#leyenda {
	margin-top: 30px;
	margin-left: 30px;
}

#texto_leyenda {

	margin: 0;
	padding: 0;
}

#texto_leyenda dl {
	margin-left: 15px;
	text-indent: 12px;
}

#texto_leyenda dt {
	float: left;
	padding: 7px;
}

/* Detalle */
.detalle li {
	list-style: none;
}


.detalle dl {
	margin: 0;
}
.detalle dt {
	font-weight:bold;
	margin: 2px 4px 9px 0;
	width:23%;
	display:inline-block;
	vertical-align: top;
}

.detalle dd {
	margin: 2px 14px 9px 0;
	width: 74%;
	display:inline-block;
	vertical-align: top;
}

.detalle dd dt{
	margin-left: 25px;
}


.detalle_asignatura dl {
	margin: 0;
}
.detalle_asignatura dt {
	font-weight:bold;
	margin: 0 0 1px 0;
	width:40%;
	display:inline-block;
	text-align: right;
	vertical-align: top;
}

.detalle_asignatura dd {
	display:inline-block;
	vertical-align: top;
	font-weight:lighter;
	width:55%;
	margin-left:5px;
}

.detalle_asignatura dd dt{
	margin-left: 25px;
}

.detalle li.reserva {
	list-style: decimal;
	margin-left: 15px;
}

.detalle li.reserva dl {
	margin: 0;
}
.detalle li.reserva dt {
	font-weight:bold;
	margin: 0px 4px 9px 0;
	width:10%;
	display:inline-block;
	vertical-align: top;
}

.detalle li.reserva dd {
	margin: 2px 30px 9px 0;
	display:inline;
	vertical-align: top;
}

.detalle li.reserva dd dt{
	margin-left: 25px;
}


#asignaturas li {
	list-style: none;
}

#asignaturas {
	float: left;
	width: 50%;
	margin-top: 10px;
}

#asignaturas li {
	list-style: none;
}

#asignaturas ul.lista_asignaturas {
	padding: 0 5px 20px 0px;
}

#asignaturas ul.lista_asignaturas li.asignatura {
	background-color: #CCCCEE;
	float: left;
	width: 100%;
	border-radius: 15px;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

#asignaturas h2 {
	text-align: center;
	font-size: 1.5em !important;
	color: #0061AD !important;
}

#asignaturas h3 {
	color: #2800f0;
	padding: 4px 10px 0px 20px;
	font-size: 1.1em;
}

#asignaturas h3 span{
	float: right;
	margin-right: 15px;
	padding-bottom: 5px;
	cursor:pointer;
	cursor:hand;
}

span.expand_comentario{
	float: right;
	margin-right: 15px;
	padding-bottom: 5px;
	cursor:pointer;
	cursor:hand;
}

span.expand{
	float: right;
	margin-right: 15px;
	padding-bottom: 5px;
	cursor:pointer;
	cursor:hand;
}

#asignaturas h4 {
	color: #280000;
	padding-left: 10px;
	font-size: 0.9em;
}

#asignaturas ul.grupos {
	margin-right: 5px;
}

#asignaturas ul.grupos li {
	border-radius: 15px;
	background-color: #2850a0;
	padding: 0;
	margin: 1px 1px 1px 0px;
	width: 100%;
	float: left;
}

#asignaturas ul.grupos li a {
	float: right;
	color: #a0f0f0;
	margin-right: 15px;
	padding-bottom: 5px;
}


#asignaturas ul.grupos li h4 {
	color: #c8f0c8;
}

#asignaturas ul.grupos li span.infoGrupo {
	float: right;
	color: white;
	margin-right: 15px;
	padding-bottom: 4px;
	margin-top: 3px;
	
}

li.ABIERTO {
		background-color: #2850a0;
}

li.CONFLICTO {
	background: url("../img/alert.png") no-repeat 70% center transparent;
	background-color: #a02800 !important;
}

li.LLENO {
	background: url("../img/conflicto.png") no-repeat 70% center transparent;
	background-color: #500000 !important;
}

li.NO_SELECCIONABLE {
	background-color: #666 !important;
}

li.CERRADO {
	background-color: #666 !important;
	background: url("../img/cerrado.png") no-repeat 70% center transparent;
}

li.SELECCIONADO {
	background-color: #005000 !important;
	background: url("../img/tick.png") no-repeat scroll 90% 43% transparent;
	overflow: visible;
	margin-right: 20px;
}

span.COMENTARIO {
		border: 0;
		width: 100%;
}

span.COMENTARIO textarea{
		border-radius: 15px;
		margin-left: 5px;
		margin-top: 5px;
		min-height: 75px;
		padding-top: 7px;
		padding-left: 15px;
		width: 90%;
		overflow: hidden;
}

.charsRemaining {
	text-align: right;
    margin: 0 10% 0 0 !important;
}
.submit {
	width: 100%;
	display: inline-block;
	text-align: center;
}

.submit input.submit
{
color: #000;
background: #ffa20f;
width: 20%;
border: 2px outset #d7b9c9;
margin-left: 7px;
}

.submit input.submit
{
color: #000;
background: #ffa20f;
width: 20%;
border: 2px outset #d7b9c9;
margin-left: 7px;
}

.lista_asignaturas ul.MAS_INFO {
	margin:0 !important;
}
.bluetable3 {
    border-collapse: collapse;
    font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif;
    font-size: 11px;
    margin-left: 5px;
	width:97%;
	text-align: center;
}
.bluetable3 th {
    background: none repeat scroll 0 0 #B9C9FE;
    color: #003399;
    font-size: 12px;
    font-weight: normal;
    padding: 0px 1px 1px 1px;
	width:19%;
}

.bluetable3 tr {
    background: none repeat scroll 0 0 #FFFFFF;
    border-top: 1px solid #2850A0;
    color: #666699;
}
.bluetable3 tr:nth-child(2n+1) {
    background: none repeat scroll 0 0 #F0F0F0;
}
.bluetable3 td {
    padding-left: 2px;
	vertical-align: middle;
}
.bluetable3 tbody tr:hover td {
    background: none repeat scroll 0 0 #FFDA84;
    color: #333399;
}
.bluetable3 span {
    color: #416CA7;
    font-size: 11px;
}

/* Calendario */
#calendario {
	background-color: #FFFFFF;
	float: right;
	width: 47%;
	padding-left: 3px;
	margin-top: 10px;
	color: #C8F0C8;
}

#calendario li {
	list-style: none;
}

#calendario h2 {
	text-align: center;
	font-size: 1.5em !important;
	color: #0061AD !important;
}

#calendario ul {
	float: left;
	width: 17%;
	padding: 0;
	margin: 1px 0 10px 0;
	border-top: 1px solid #000000;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	text-align: center;
}

#dia0 {
	text-align: right !important;
	font-weight: bold ;
	border-left: 1px solid #000000;
	width: 8% !important;

}

#calendario li {
	width: 100%;
	padding: 0;
	margin: 0;
}

#calendario li.dia {
	width: 100%;
	background-color: #2850A0;
	overflow: hidden;
	height: 20px;
	text-align: center;
	font-weight: bold;
	font-size: 0.8em;
	vertical-align: middle;
}

#calendario li.dia span {
	display: -moz-inline-box; /* FF2 or lower */
	display: inline-block; /* FF3, Opera, Safari */
	line-height: normal;
	vertical-align: middle;
}

#calendario li.dia span {
	*display: inline;
} /* haslayout for IE6/7 */
#calendario li.hora05 {
	width: 100%;
	background-color: #2850A0;
	overflow: hidden;
	height: 19px;
	font-weight: bold;
	font-size: 0.8em;
	border-top: 1px solid #000000;
}

#calendario li.hora04 {
	width: 100%;
	background-color: #2850A0;
	overflow: hidden;
	height: 20px;
	font-weight: bold;
	font-size: 0.8em;
}

#calendario li.cal05 {
	width: 100%;
	background-color: white;
	overflow: hidden;
	height: 19px;;
	font-weight: bold;
	font-size: 0.8em;
	border-top: 1px solid #000000;
}

#calendario li.cal04 {
	width: 100%;
	background-color: white;
	overflow: hidden;
	height: 20px;
	font-weight: bold;
	font-size: 0.8em;
}

#calendario li.cal10 {
	width: 100%;
	background-color: #005000;
	overflow: hidden;
	height: 20px;
	font-weight: bold;
	font-size: 0.8em;
	border-radius: 5px;
}

#calendario li.cal11 {
	width: 100%;
	background-color: #005000;
	overflow: hidden;
	height: 20px;
	max-height: 20px;
	min-height: 20px;
	font-weight: bold;
	font-size: 0.8em;
	border-radius: 5px 5px 0 0;
}

#calendario li.cal13 {
	width: 100%;
	background-color: #005000;
	overflow: hidden;
	height: 20px;;
	font-weight: bold;
	font-size: 0.8em;
	border-radius: 0px 0px 5px 5px;
}

#calendario li.cal12 {
	width: 100%;
	background-color: #005000;
	overflow: hidden;
	height: 20px;
	font-weight: bold;
	font-size: 0.8em;
}

#calendario li.cal20 {
	width: 100%;
	background-color: #A02800;
	overflow: hidden;
	height: 20px;
	font-weight: bold;
	font-size: 0.8em;
	border-radius: 5px;
}

#calendario li.cal21 {
	width: 100%;
	background-color: #A02800;
	overflow: hidden;
	height: 20px;
	max-height: 20px;
	min-height: 20px;
	font-weight: bold;
	font-size: 0.8em;
	border-radius: 5px 5px 0 0;
}

#calendario li.cal23 {
	width: 100%;
	background-color: #A02800;
	overflow: hidden;
	height: 20px;;
	font-weight: bold;
	font-size: 0.8em;
	border-radius: 0px 0px 5px 5px;
}

#calendario li.cal22 {
	width: 100%;
	background-color: #A02800;
	overflow: hidden;
	height: 20px;
	font-weight: bold;
	font-size: 0.8em;
}

#calendario li.cal30 {
	width: 100%;
	background-color: #500000;
	overflow: hidden;
	height: 20px;
	font-weight: bold;
	font-size: 0.8em;
	border-radius: 5px;
}

#calendario li.cal31 {
	width: 100%;
	background-color: #500000;
	overflow: hidden;
	height: 20px;
	max-height: 20px;
	min-height: 20px;
	font-weight: bold;
	font-size: 0.8em;
	border-radius: 5px 5px 0 0;
}

#calendario li.cal33 {
	width: 100%;
	background-color: #500000;
	overflow: hidden;
	height: 20px;;
	font-weight: bold;
	font-size: 0.8em;
	border-radius: 0px 0px 5px 5px;
}

#calendario li.cal32 {
	width: 100%;
	background-color: #500000;
	overflow: hidden;
	height: 20px;
	font-weight: bold;
	font-size: 0.8em;
}

#calendario li.cal40 {
	width: 100%;
	background-color: #a33eff;
	overflow: hidden;
	height: 20px;
	font-weight: bold;
	font-size: 0.8em;
	border-radius: 5px;
}

#calendario li.cal41 {
	width: 100%;
	background-color: #a33eff;
	overflow: hidden;
	height: 20px;
	max-height: 20px;
	min-height: 20px;
	font-weight: bold;
	font-size: 0.8em;
	border-radius: 5px 5px 0 0;
}

#calendario li.cal43 {
	width: 100%;
	background-color: #a33eff;
	overflow: hidden;
	height: 20px;;
	font-weight: bold;
	font-size: 0.8em;
	border-radius: 0px 0px 5px 5px;
}

#calendario li.cal42 {
	width: 100%;
	background-color: #a33eff;
	overflow: hidden;
	height: 20px;
	font-weight: bold;
	font-size: 0.8em;
}
