@charset "utf-8";
/* CSS Document */
html,body,#container {
	height: 100%;
}

body>#container {
	height: auto;
	min-height: 80%;
}

body {
	color: #7F7F7F;
}

#container {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	width: 90%;
	margin: auto;
}

h1 {
	font-size: 1.7em;
	line-height: 1.3em;
	margin-bottom: 0.5em;
	margin-top: 0;
	color: #049FE1;
}

h2 {
	font-size: 1.5em;
	line-height: 1.3em;
	margin-bottom: 0.667em;
	margin-top: 0.667em;
	color: #049FE1;
}

h3 {
	color: #049FE1;
	font-size: 1.4em;
	font-weight: bold;
	margin-bottom: 0.2em;
}

h4,h5,h6 {
	font-size: 1.1em;
	line-height: 1.3em;
	margin-bottom: 0.909em;
	margin-top: 0.909em;
}

a:link,a:visited {
	color: #0061AD;
	text-decoration: none;
}

a:hover,a:active,a:focus {
	color: #049FE1;
	text-decoration: underline;
}

#cabecera {
	background-color: #F7F7F7;
	height: 1%;
	min-height: 93px;
	overflow: hidden;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	float: left;
	padding: 30px 0 4px;
	width: 100%;
}

#celda_izq {
	float: left;
	margin-right: 0;
	padding: 5px 0 44px 44px;;
}

#celda_izq img {
	width: 130px;
	height: 81px;
}

#celda_central {
	float: left;
	margin: auto;
	width: auto;
	padding: 5px 0 4px 4px;
}

#celda_central h1 {
	color: #0061AD;
	width: 100%;
}

#celda_der {
	float: right;
	width: auto;
	padding-right: 30px;
}

#celda_der ul li {
	background: url("../img/bg_separador_header_top.gif") no-repeat scroll
		left 4px transparent;
	color: #0061AD;
	float: right;
	padding: 9px 15px 4px;
	font-weight: bold;
	text-align: right;
}

#celda_der li.first {
	background: none;
	font-weight: normal;
}

#celda_der ul.fecha li {
	background: none;
	font-weight: normal;
}

#titular {
	background-color: #f0f0a0;
	height: 1%;
	min-height: 10px;
	overflow: hidden;
	float: left;
	padding: 10px 0 10px 0;
	width: 100%;
}

#breadcrumbs {
	color: #0061AD;
	width: auto;
	display: inline;
	float: left;
	overflow: auto;
	margin: 0;
}

#breadcrumbs a {
	text-decoration: none;
}

#breadcrumbs li {
	float: left;
	padding-left: 5px;
}

#contenido {
	background: none repeat scroll 0 0 #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	float: left;
	padding-bottom: 3em;
	width: 100%;
}

.content {
	border: 2px solid #049FE1;
	border-radius: 15px;
	background-color: #FFFFFF;
	width: 90% !important;
	float: left;
	padding-bottom: 20px;
	margin: 10px 5% 0px 5%;
	text-align: center;
}

#asignaturas {
	background-color: #FFFFFF;
	height: 1%;
	border: 2px solid #049FE1;
	border-radius: 15px;
	float: left;
	width: 50%;
	margin-top: 10px;
}

#asignaturas ul.lista_asignaturas {
	padding: 0 10px 20px 10px;
}

#asignaturas ul.lista_asignaturas li.asignatura {
	background-color: #CCCCEE;
	float: left;
	width: 100%;
	border-radius: 15px;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

#asignaturas h2 {
	text-align: center;
}

#asignaturas h3 {
	color: #2800f0;
	padding: 8px 10px 10px 20px;
}

#asignaturas h4 {
	color: #280000;
	padding-left: 10px;
}

#asignaturas ul.grupos {
	margin-right: 10px;
	padding-left: 10px;
}

#asignaturas ul.grupos li {
	border-radius: 15px;
	background-color: #2850a0;
	padding: 0;
	margin: 1px 1px 1px 0px;
	width: 100%;
	float: left;
}

#asignaturas ul.grupos li a {
	float: right;
	color: #a0f0f0;
	margin-right: 15px;
	padding-bottom: 5px;
}

#asignaturas ul.grupos_profesor li {
	border-radius: 15px;
	background-color: #2850a0;
	padding: 0;
	margin: 1px 1px 1px 0px;
	width: 100%;
	float: left;
}

#asignaturas ul.grupos_profesor li a {
	color: #a0f0f0;
}

li.seleccionada {
	background-color: #005000 !important;
}

#asignaturas ul.grupos li h4 {
	color: #c8f0c8;
}

li.grupo_lleno {
	background: url("../img/alert.png") no-repeat 70% center transparent;
	background-color: #a02800 !important;
}

li.conflicto {
	background: url("../img/conflicto.png") no-repeat 70% center transparent;
	background-color: #500000 !important;
}

h3.seleccionada {
	background: url("../img/tick.png") no-repeat scroll right transparent;
	margin-right: 20px;
}

#botonera {
	background-color: #049FE1;
	height: 1%;
	border: 2px solid #049FE1;
	border-radius: 15px;
	float: left;
	width: 50%;
	margin-top: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	box-shadow: 10px 10px 5px #888;
}

.opciones {
	width: 70% !important;
	margin: 0px 15% 20px 15% !important;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}

#botonera h2 {
	text-align: center;
}

#botonera h4 {
	margin: 0;
	padding: 0;
}

#botonera a:link,#botonera a:visited {
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
}

#botonera a:hover,#botonera a:active,#botonera a:focus {
	color: #A0F0F0;
	text-decoration: underline;
}

ul,li {
	list-style-type: none;
}

#pie {
	background-color: #F7F7F7;
	height: 1%;
	min-height: 13px;
	overflow: hidden;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	float: left;
	padding: 0px 0 4px;
	width: 100%;
	clear: both;
	position: relative;
	z-index: 10;
}

#pie p {
	float: left;
	padding-left: 25px;
	color: #0061AD;
}

#pie .logos {
	float: right;
	padding-top: 5px;
	padding-right: 25px;
	color: #0061AD;
}

ul.informacion_grupo {
	background-color: #CCCCEE;
	padding: 0;
	margin: 0;
}

.listado_alumnos {
	background-color: #CCCCEE;
	padding: 0;
	margin: 0;
}

ol.listado_alumnos li {
	list-style-type: decimal;
	padding: 0;
	margin: 0;
}

ul.grupos_profesor {
	padding-left: 0;
}

ol.listado_alumnos a {
	margin-left: 50px;
}

.volver {
	margin-left: 30px;
}