/* CSS Document */
#mainContent {
	clear: left;
	float: left;
	font-size: 1.1em;
	margin: 1em 0 1em 2em;
	width: 67em;
}

#micrositeA #mainContent,#micrositeB #mainContent {
	float: left;
	padding: 0 0 0 18em;
	width: 67em;
}

.bluetable {
	height: auto;
	overflow: hidden;
	table-layout: fixed;
}

.bluetable th {
	font-size: 11px;
}

.bluetable .ancho150 {
	display: table-column;
	overflow: hidden;
	width: 140px;
}

.bluetable .ancho50 {
	display: table-column;
	overflow: hidden;
	width: 50px;
}

.bluetable2 select {
	font-size: 12px;
	overflow: hidden;
	width: 140px;
}

.bluetable input[type="1text"] {
	font-size: 12px;
	margin: 5px 0;
	overflow: hidden;
	width: 40px;
}

.bluetable input[type="1button"] {
	font-size: 12px;
	margin: 5px 0;
	overflow: hidden;
	width: 90px;
}

.bluetable .fecha {
	font-size: 12px;
	margin: 5px 0;
	overflow: hidden;
	width: 80px;
}

.boton80 {
	font-size: 12px;
	margin: 5px 0;
	overflow: hidden;
	width: 80px;
}

.select40em {
	font-size: 12px;
	margin: 5px 0;
	overflow: hidden;
	width: 40em;
}

.select35em {
	font-size: 12px;
	margin: 5px 0;
	overflow: hidden;
	width: 35em;
}

.select30em {
	font-size: 12px;
	margin: 5px 0;
	overflow: hidden;
	width: 30em;
}

.select5em {
	font-size: 12px;
	margin: 5px 0;
	overflow: hidden;
	width: 5em;
}

.selectVarem {
	font-size: 12px;
	margin: 5px 0;
	overflow: hidden;
}

#mainContent h3 {
	margin-top: 0.5em;
}