/* CSS Document */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td
	{
	background: none repeat scroll 0 0 transparent;
	border: 0 none;
	font-size: 100%;
	margin: 0;
	outline: 0 none;
	padding: 0;
	vertical-align: baseline;
}

body {
	line-height: 1;
}

ol,ul {
	list-style: none outside none;
}

blockquote,q {
	quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: none;
}

:focus {
	outline: 0 none;
}

ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.oculto {
	visibility: hidden;
}

a:link,a:visited {
	color: #0061AD;
	text-decoration: none;
}

a:hover,a:active,a:focus {
	color: #049FE1;
	text-decoration: underline;
}

.skip,.slogan {
	left: -99999em;
	position: absolute;
}

.clear {
	clear: both;
	display: block;
}

body {
	background: url("../images3/bg.png") repeat-x scroll left top #F1F1F1;
	color: #404040;
	font: 62.5%/1.5em Helvetica, Arial, sans-serif;
}

#wrapper {
	margin: 0 auto;
	width: 98em;
}

#header {
	background: url("../images3/bgbuilding1.jpg") no-repeat scroll 0 8.8em
		transparent;
	position: relative;
	width: 98em;
}

.langNav {
	margin: 0 auto;
	padding: 0.4em 0 0.4em 2em;
	width: 94em;
}

.slogan2 {
	background: url("../images3/sloganhome.png") no-repeat scroll left top
		transparent;
	height: 5.4em;
	position: absolute;
	right: 3em;
	text-indent: -9999em;
	top: 2.7em;
	width: 13.2em;
}

.perfiles {
	height: 10em;
	overflow: hidden;
	position: absolute;
	right: 1.4em;
	top: 9.7em;
	width: 22em;
}

#header .mainNav {
	background: url("../images3/bgmainnav.png") repeat-x scroll left top
		transparent;
	height: 2.4em;
	margin: 0 0 0 0.9em;
	overflow: hidden;
	width: 87.3em;
}

#search {
	background: url("../images3/bgsearch.png") repeat-x scroll left top
		transparent;
	border-left: 1px solid #A47E00;
	bottom: 0;
	height: 2.7em;
	position: absolute;
	right: 1em;
	width: 25em;
}

.secondaryNav {
	font-size: 1.1em;
	font-weight: bold;
	height: 2em;
	overflow: hidden;
	position: absolute;
	right: 0.5em;
	top: 0;
}

#content {
	background: url("../images3/bgshadow.png") repeat-y scroll left top
		#FFFFFF;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	min-height: 32em;
	overflow: hidden;
	position: relative;
	width: 98em;
}

#mainContent {
	clear: left;
	float: left;
	font-size: 1.1em;
	margin: 1em 0 1em 2em;
	width: 70em;
}

#secondaryContent {
	float: right;
	margin: 1em 2em 4em 1em;
	width: 23em;
}

#footer {
	background: url("../images3/bgfooter.png") no-repeat scroll left top
		transparent;
	height: 12em;
	padding: 0 0 12em;
	position: relative;
}

.langNav {
	background: none repeat scroll 0 0 #FFFFFF;
	border-bottom: 2px solid #DDDDDD;
	color: #8B9295;
	font-weight: bold;
	overflow: auto;
}

.langNav li {
	float: left;
	font-size: 1.1em;
	margin: 0 1em 0 0;
}

h1 {
	background: url("../images3/bglogo.png") repeat-x scroll left top
		#F1F0EE;
	height: 6em;
	margin: 0 auto 12.1em;
	width: 96em;
}

h1 a {
	display: block;
	height: 5.5em;
	margin: 0;
	padding-top: 0.2em;
	position: relative;
}

h1 a span {
	background: url("../images3/logo.png") no-repeat scroll left top
		transparent;
	display: block;
	height: 5.5em;
	margin: 0 0 0 1em;
	text-indent: -9999em;
	width: 36em;
}

.perfiles li {
	background: url("../images3/bulletblue.png") no-repeat scroll 0 0.2em
		transparent;
	float: left;
	margin: 0 1em 0.1em 0;
	padding-left: 1.8em;
	width: 20em;
}

.perfiles a {
	color: #FFFFFF;
	font-size: 1.1em;
}

.perfiles a:hover {
	color: #FFFFFF;
}

#header .mainNav {
	border-bottom: 1px solid #ACB8C1;
	font-size: 1.1em;
	font-weight: bold;
	text-transform: uppercase;
}

#header .mainNav li {
	float: left;
}

#header .mainNav a,#header .mainNav a:active,#header .mainNav a:focus {
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #ACB8C1;
	color: #0061AD;
	display: inline;
	height: 2.4em;
	line-height: 2.4em;
	padding: 0.6em;
	text-align: center;
	text-decoration: none;
}

#header .mainNav a:hover,#header .mainNav a.active {
	background: url("../images3/bghovermainnav.png") repeat-x scroll left
		top #004E9E;
	border-left: 1px solid #0383C9;
	border-right: 1px solid #0383C9;
	color: #FFFFFF;
}

#header .mainNav a #pageHome,#header .mainNav a:active #pageHome,#header .mainNav a:focus #pageHome
	{
	background: url("../images3/pageHome.png") no-repeat scroll 0 0.6em
		transparent;
	display: inline;
	height: 2.4em;
	line-height: 2.4em;
	padding: 0.6em;
	text-align: center;
	width: 2.4em;
}

#header .mainNav a:hover #pageHome,#header .mainNav .active #pageHome {
	background: url("../images3/pageHomeHover.png") no-repeat scroll 0 0.6em
		transparent;
}

#search label {
	left: -99999em;
	position: absolute;
}

#search #searchString {
	border: 1px solid #888888;
	font-size: 1em;
	left: 1em;
	padding: 0.3em 0.2em;
	position: relative;
	top: 0.3em;
	width: 14.5em;
}

#search #submit {
	position: absolute;
	right: 1em;
	top: 0.1em;
}

.secondaryNav li {
	border-right: 1px solid #CCCCCC;
	float: left;
	margin: 0.3em 0;
	padding: 0 1em;
}

.secondaryNav .intranet {
	background: url("../images3/botonIntranet.png") no-repeat scroll left
		top transparent;
	border: medium none;
	height: 2.2em;
	margin-top: 0.2em;
	padding-left: 0.3em;
	width: 6em;
}

.secondaryNav .intranet a {
	color: #FFFFFF;
	display: block;
	height: 1.6em;
	line-height: 1.6em;
	padding: 0 1em 0 0.5em;
}

#mainContent h3 {
	color: #049FE1;
	font-size: 1.4em;
	margin: 2em 0 1em;
}

#mainContent h4 {
	font-size: 1.2em;
	line-height: 1.3em;
	margin: 1em 0;
}

#mainContent p {
	margin: 1em 0;
}

#mainContent ul,#mainContent ol {
	list-style: square inside none;
	margin-left: 1em;
}

.breadcrumb {
	font-size: 1.1em;
	margin: 0.5em 0 0 1.5em;
	overflow: auto;
}

.breadcrumb li {
	float: left;
	margin: 0 0 0 0.5em;
}

#sc02 {
	position: relative;
	top: 0.4em;
}

#sc03 {
	left: 0.5em;
	position: relative;
	top: 0.4em;
}

#footer .mainNav {
	font-size: 1.1em;
	margin: 0 auto;
	position: absolute;
	text-align: center;
	top: 5.5em;
	width: 87em;
}

#footer .mainNav li {
	border-right: 1px solid #CCCCCC;
	display: inline;
	padding: 0 1em 0 0.6em;
}

#footer .mainNav li.last {
	border: medium none;
}

#footer h2 {
	color: #7F8182;
	font-size: 1.8em;
	font-weight: normal;
	left: 4.5em;
	position: absolute;
	top: 1.3em;
}

#footer h2.skip {
	left: -99999em;
	position: absolute;
}

#footer p {
	color: #585858;
	font-size: 1.1em;
	line-height: 1.4em;
	position: absolute;
	right: 2.1em;
	text-align: right;
	top: 0.8em;
}

.organizations {
	bottom: 12em;
	overflow: auto;
	position: absolute;
	right: 2em;
}

.organizations li {
	float: left;
	margin: 0 0 0 1.5em;
}

.organizations li a:link,.organizations li a:visited {
	display: block;
	height: 35px;
	text-indent: -99999em;
	width: 80px;
}

.organizations li a:hover,.organizations li a:active,.organizations li a:focus
	{
	background-position: 0 -35px;
}

#universia {
	background-image: url("../images3/universia.jpg");
}

#crue {
	background-image: url("../images3/crue.jpg");
}

#aupa {
	background-image: url("../images3/aupa.jpg");
	width: 53px;
}

#micrositeA #mainContent,#micrositeB #mainContent {
	float: left;
	padding: 0 0 0 19em;
	width: 43em;
}

#micrositeA #mainContent h2,#micrositeB #mainContent h3 {
	color: #049FE1;
	font-size: 2.2em;
	font-weight: normal;
	line-height: 1em;
	margin: 0.2em 0 0.6em;
}

#micrositeA #mainContent #items2mainContent ul {
	padding: 0.1em 0;
}

#micrositeA #mainContent #items2mainContent li {
	float: left;
	list-style: circle inside none;
	padding: 0 1em;
}

#micrositeA #mainContent #items2mainContent h3 {
	clear: both;
	float: left;
}

#micrositeA #mainContent #imglocalNavmainContent {
	left: 2em;
	padding: 0.4em 0;
	position: absolute;
	top: 2.2em;
	width: 18.1em;
}

#micrositeB #header h2 {
	color: #0060A9;
	font-size: 1.6em;
	line-height: 1.2em;
	margin: 1em 0;
	position: absolute;
	right: 1.9em;
	text-align: right;
	top: 1.5em;
}

#micrositeB #mainContent h4 {
	color: #049FE1;
	font-size: 1.4em;
	font-weight: normal;
	margin: 2em 0 1em;
}

#micrositeA #header .skip,#micrositeB #header .skip {
	left: -99999em;
	position: absolute;
	text-align: left;
}

#micrositeA #secondaryContent,#micrositeB #secondaryContent {
	float: right;
	width: 22.2em;
}

#mainContent ul.localNav {
	left: 2em;
	list-style: none outside none;
	margin-left: 0;
	overflow: hidden;
	position: absolute;
	top: 3.4em;
	width: 17em;
}

#mainContent ul.localNav ul {
	list-style: none outside none;
}

#mainContent ul.localNav li a {
	background: none repeat scroll 0 0 #F1F1F1;
	border-bottom: 2px solid #FFFFFF;
	color: #0060A9;
	display: block;
	padding: 0.6em 1em 0.4em;
	width: 13.4em;
}

#mainContent ul.localNav .active a {
	background: url("../images3/bglocalnav.png") no-repeat scroll right
		center #049FE1;
	color: #FFFFFF;
	width: 14.4em;
}

#mainContent ul.localNav .active ul {
	margin: 0;
	padding: 0;
}

#mainContent ul.localNav .active ul li a {
	background: none repeat scroll 0 0 #CDDCED;
	color: #0060A9;
	display: block;
	font-weight: normal;
	padding: 0.6em 1em 0.4em 2em;
	width: 12.4em;
}

#mainContent ul.localNav .active .active a {
	background: none repeat scroll 0 0 #A9C1E0;
	color: #0060A9;
	margin-top: 0;
	padding: 0.6em 1em 0.4em 2em;
}

.module {
	font-size: 1.1em;
	margin: 0.6em 0 1em;
	position: relative;
}

.module .mheader h2 {
	border-bottom: 1px solid #DBDBDB;
	border-top: 1px solid #B1B3B4;
	color: #7F8182;
	font-size: 1.5em;
	font-weight: bold;
	padding: 0.4em 0;
}

.premium .mheader h2 {
	background: url("../images3/bgmodule.png") no-repeat scroll left top
		transparent;
	border: medium none;
	color: #FFFFFF;
	padding: 0.4em;
}

.module .mcontent {
	padding: 1.5em 0 0.5em;
}

.module .mcontent p {
	font-family: Helvetica, Arial, sans-serif !important;
	font-size: 1em !important;
}

.premium .mcontent {
	background: none repeat scroll 0 0 #70787C;
	border-top: 2px solid #FFFFFF;
	color: #FFFFFF;
	padding: 1em;
}

.premium .mcontent a {
	color: #FFCA00;
}

.module .mcontent ul {
	font-weight: bold;
}

.module .mcontent ul li {
	background: url("../images3/bulletgray.png") no-repeat scroll 0 3px
		transparent;
	padding: 0 0.1em 0.2em 1em;
}

.module .mcontent img {
	float: left;
	margin: 0.2em 0.4em 3em 0;
}

.premium .mfooter {
	background: none repeat scroll 0 0 #70787C;
	padding: 0 1em 1em 0;
	text-align: right;
}

.premium .mfooter a {
	color: #FFFFFF;
	font-weight: bold;
}

label {
	float: left;
	margin-right: 15px;
	text-align: right;
	width: 100px;
}

#micrositeMultimedia #mainContent {
	float: left;
	padding: 0;
	width: 43em;
}

#micrositeMultimedia #mainContent h2 {
	color: #049FE1;
	font-size: 1.8em;
	font-weight: normal;
	line-height: 1em;
	margin: 0.2em 0 0.6em;
}

#micrositeMultimedia #multiElement {
	background: none repeat scroll 0 0 #DDDDDD;
	border: 1px solid #EAEAEA;
	height: 26em;
	position: relative;
	width: 62em;
}

#micrositeMultimedia #multiBox {
	display: block;
	float: left;
	height: 240px;
	margin: 1em;
	width: 270px;
}

#micrositeMultimedia #multiText {
	display: block;
	float: left;
	margin: 1em;
	overflow: hidden;
	width: 32em;
}

#micrositeMultimedia #multiText h3 {
	color: #333333;
	font-size: 1.8em;
	font-weight: normal;
	line-height: 1em;
	margin: 0;
	padding: 0;
}

#cse-search-results {
	font-size: 1.1em;
	margin-bottom: 1em;
	margin-left: 2em;
	margin-top: 2em;
	overflow: hidden;
	width: 63em;
}

textarea:focus,input[type="text"]:focus,select:focus {
	background-color: #FFFF99;
}

.bluetable {
	border-collapse: collapse;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 11px;
	margin: 10px;
	text-align: left;
}

.bluetable th {
	background: none repeat scroll 0 0 #B9C9FE;
	color: #003399;
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	text-align: left;
}

.bluetable thead th:first-child {
	background: url("../images3/bluetable_leftcorner.png") no-repeat scroll
		left -1px #B9C9FE;
}

.bluetable thead th:last-child {
	background: url("../images3/bluetable_rightcorner.png") no-repeat scroll
		right -1px #B9C9FE;
}

.bluetable tr {
	background: none repeat scroll 0 0 #FFFFFF;
	border-top: 1px solid #FFFFFF;
	color: #666699;
}

.bluetable tr:nth-child(2n+1) {
	background: none repeat scroll 0 0 #F0F0F0;
}

.bluetable td {
	padding: 5px;
}

.bluetable tbody tr:hover td {
	background: none repeat scroll 0 0 #FFDA84;
	color: #333399;
}

.bluetable span {
	color: #416CA7;
	font-size: 11px;
}

.bluetable2 {
	border-collapse: collapse;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 11px;
	margin: 10px;
	text-align: left;
}

.bluetable2 th {
	background: none repeat scroll 0 0 #B9C9FE;
	color: #003399;
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	text-align: left;
}

.bluetable2 thead th:first-child {
	background: url("../images3/bluetable_leftcorner.png") no-repeat scroll
		left -1px #B9C9FE;
}

.bluetable2 thead th:last-child {
	background: url("../images3/bluetable_rightcorner.png") no-repeat scroll
		right -1px #B9C9FE;
}

.bluetable2 tr {
	background: none repeat scroll 0 0 #FFFFFF;
	border-top: 1px solid #FFFFFF;
	color: #666699;
}

.bluetable2 tr:nth-child(2n+1) {
	background: none repeat scroll 0 0 #F0F0F0;
}

.bluetable2 td {
	padding: 5px;
}

.bluetable2 span {
	color: #416CA7;
	font-size: 11px;
}